*{
  /* border: 1px solid red;
  padding: 10px;
  margin: 10px; */
  font-family: 'Lato', sans-serif;
}
body{
  margin: 0;
}
.header{
  color: white;
  background: #25485c;
}
.portada{
  background-color: #dee1e2;
}
.imagen{
  background-image: url('../Imagenes/portada.jpg');
  font-size: 16px;
  color: #25485c;
  padding-top: 70px;
  padding-bottom: 70px;
  height: 500px;
}
button{
  color: white;
  background: rgb(252, 74, 72);
  border: none;
  border-radius: 3px;
  width: 90px;
  height: 25px;
}
.contenido{
  color: #25485c;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.logotipo{
  display: inline-block;
  margin: 6px;
}
.menu{
  display: inline-block;
  /* margin: 0; */
  position: absolute;
  right: 0;
  top: 10px;
}
.menu ul{
  margin: 0;
}
.menu li{
  display: inline-block;
  margin-right: 5px;
}
.footer{
  width: 1000px;
  margin: auto;
}
.contenedor{
  width: 1320px;
  margin: auto;
}
h1{
  /* background-color: #c9bfbf; */
  background: rgba(242, 234, 234, 0.7);
  /* border: 1px solid red; */
  width: 600px;
  height: 180px;
  margin: 20px;
  padding: 20px;
  position: relative;
  bottom: -300px;
}
