*{
  /* border: 1px solid red;
  padding: 10px;
  margin: 10px; */
  font-family: 'Lato', sans-serif;
}
body{
  margin: 0;
}
.header{
  color: white;
  background: #25485c;
}
.portada{
  background-color: #dee1e2;
}
.imagen{
  background-image: url('../Imagenes/portada.jpg');
  font-size: 16px;
  color: #25485c;
  padding-top: 70px;
  padding-bottom: 70px;
  height: 500px;
}
.contenido{
  color: #25485c;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.logotipo{
  display: inline-block;
  margin: 8px;
}
.menu{
  display: inline-block;
  /* margin: 0; */
}
.menu ul{
  margin: 0;
}
.menu li{
  display: inline-block;
  margin-left: 20px;
}
.footer{
  width: 1000px;
  margin: auto;
}
.contenedor{
  width: 1000px;
  margin: auto;
}
